html {
  width: 100%;
  height: 100%;
  background: url(https://wallpaperstock.net/wallpapers/thumbs1/51439hd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;

  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width:600px) {
  *{font-size:.8rem;
    /* padding: 0px; */
  }
}
button {
  cursor: pointer;
}
